<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <rvfm>
      <fields>
        <field type="RazorViewsForMarketers.Core.FieldRenderers.CaptchaInitializer" name="Captcha" />
        <field type="RazorViewsForMarketers.Core.FieldRenderers.CheckBoxInitializer" name="Checkbox" />
        <field type="RazorViewsForMarketers.Core.FieldRenderers.CheckBoxListInitializer" name="Checkbox List" />
        <field type="RazorViewsForMarketers.Core.FieldRenderers.CreditCardFieldInitializer" name="Credit Card" />
        <field type="RazorViewsForMarketers.Core.FieldRenderers.DateFieldInitializer" name="Date" />
        <field type="RazorViewsForMarketers.Core.FieldRenderers.DropListInitializer" name="Drop List" />
        <field type="RazorViewsForMarketers.Core.FieldRenderers.EmailFieldInitializer" name="E-mail" />
        <field type="RazorViewsForMarketers.Core.FieldRenderers.FileUploadInitializer" name="File Upload" />
        <field type="RazorViewsForMarketers.Core.FieldRenderers.ListBoxInitializer" name="List Box" />
        <field type="RazorViewsForMarketers.Core.FieldRenderers.NumberFieldInitializer" name="Number" />
        <field type="RazorViewsForMarketers.Core.FieldRenderers.PasswordConfirmationInitializer" name="Password-Confirmation" />
        <field type="RazorViewsForMarketers.Core.FieldRenderers.PasswordFieldInitializer" name="Password" />
        <field type="RazorViewsForMarketers.Core.FieldRenderers.RadioListInitializer" name="Radio List" />
        <field type="RazorViewsForMarketers.Core.FieldRenderers.SingleLineTextFieldInitializer" name="Single-Line Text" />
        <field type="RazorViewsForMarketers.Core.FieldRenderers.MultipleLineTextFieldInitializer" name="Multiple-Line Text" />
        <field type="RazorViewsForMarketers.Core.FieldRenderers.TelephoneFieldInitializer" name="Telephone" />
        <field type="RazorViewsForMarketers.Core.FieldRenderers.TelephoneSmsMmsFieldInitializer" name="SMS-MMS Telephone" />
      </fields>
      <validators>
        <validator type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" name="Count chars" />
        <validator type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" name="Date" />
        <validator type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" name="E-mail" />
        <validator type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" name="Is Iso Date" />
        <validator type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" name="Number" />
        <validator type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" name="Number Range" />
        <validator type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" name="Regex Pattern" />
        <validator type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" name="Telephone" />
        <validator type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" name="SMS-MMS Telephone" />
        <validator type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" name="Luhn formula" />
        <validator type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" name="Is American Express" />
        <validator type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" name="Is Diners Club Carte Blanche" />
        <validator type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" name="Is Diners Club International" />
        <validator type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" name="Is Diners Club US and Canada" />
        <validator type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" name="Is JCB" />
        <validator type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" name="Is Maestro" />
        <validator type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" name="Is MasterCard" />
        <validator type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" name="Is Solo" />
        <validator type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" name="Is Switch" />
        <validator type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" name="Is Visa" />
        <validator type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" name="Is Visa Electron" />
        <validator type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" name="Compare Password - Confirmation" />
        <validator type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" name="Captcha" />
        <validator type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" name="Robot Protection" />
        <validator type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" name="Suspicious Visitors" />
        <validator type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" name="Suspicious Form Activity" />
      </validators>
    </rvfm>
  </sitecore>
</configuration>