<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <rvfm>
      <fields>
        <field name="Captcha" type="RazorViewsForMarketers.Core.FieldRenderers.CaptchaInitializer" />
        <field name="Checkbox" type="RazorViewsForMarketers.Core.FieldRenderers.CheckBoxInitializer" />
        <field name="Checkbox List" type="RazorViewsForMarketers.Core.FieldRenderers.CheckBoxListInitializer" />
        <field name="Credit Card" type="RazorViewsForMarketers.Core.FieldRenderers.CreditCardFieldInitializer" />
        <field name="Date" type="RazorViewsForMarketers.Core.FieldRenderers.DateFieldInitializer"  />
        <field name="Drop List" type="RazorViewsForMarketers.Core.FieldRenderers.DropListInitializer" />
        <field name="E-mail" type="RazorViewsForMarketers.Core.FieldRenderers.EmailFieldInitializer" />
        <field name="File Upload" type="RazorViewsForMarketers.Core.FieldRenderers.FileUploadInitializer" />
        <field name="List Box" type="RazorViewsForMarketers.Core.FieldRenderers.ListBoxInitializer" />
        <field name="Number" type="RazorViewsForMarketers.Core.FieldRenderers.NumberFieldInitializer" />
        <field name="Password-Confirmation" type="RazorViewsForMarketers.Core.FieldRenderers.PasswordConfirmationInitializer" />
        <field name="Password" type="RazorViewsForMarketers.Core.FieldRenderers.PasswordFieldInitializer" />
        <field name="Radio List" type="RazorViewsForMarketers.Core.FieldRenderers.RadioListInitializer" />
        <field name="Single-Line Text" type="RazorViewsForMarketers.Core.FieldRenderers.SingleLineTextFieldInitializer" />
        <field name="Multiple-Line Text" type="RazorViewsForMarketers.Core.FieldRenderers.MultipleLineTextFieldInitializer" />
        <field name="Telephone" type="RazorViewsForMarketers.Core.FieldRenderers.TelephoneFieldInitializer" />
        <field name="SMS-MMS Telephone" type="RazorViewsForMarketers.Core.FieldRenderers.TelephoneSmsMmsFieldInitializer" />
      </fields>
      <validators>
        <validator name="Count chars" type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" />
        <validator name="Date" type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" />
        <validator name="E-mail" type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" />
        <validator name="Is Iso Date" type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" />
        <validator name="Number" type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" />
        <validator name="Number Range" type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" />
        <validator name="Regex Pattern" type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" />
        <validator name="Telephone" type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" />
        <validator name="SMS-MMS Telephone" type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" />
        <validator name="Luhn formula" type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" />
        <validator name="Is American Express" type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" />
        <validator name="Is Diners Club Carte Blanche" type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" />
        <validator name="Is Diners Club International" type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" />
        <validator name="Is Diners Club US and Canada" type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" />
        <validator name="Is JCB" type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" />
        <validator name="Is Maestro" type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" />
        <validator name="Is MasterCard" type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" />
        <validator name="Is Solo" type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" />
        <validator name="Is Switch" type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" />
        <validator name="Is Visa" type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" />
        <validator name="Is Visa Electron" type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" />
        <validator name="Compare Password - Confirmation" type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" />
        <validator name="Captcha" type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" />
        <validator name="Robot Protection" type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" />
        <validator name="Suspicious Visitors" type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" />
        <validator name="Suspicious Form Activity" type="RazorViewsForMarketers.Core.ValidatorRenderers.GenericValidatorInitializer" validator="RazorViewsForMarketers.Core.Validators.GenericValidator" />
      </validators>
    </rvfm>
  </sitecore>
</configuration>