<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <rvfm>
      <fields>
        <field type="Website.Presenters.FieldRenderers.CaptchaInitializer" name="Captcha" />
        <field type="Website.Presenters.FieldRenderers.CheckBoxInitializer" name="Checkbox" />
        <field type="Website.Presenters.FieldRenderers.CheckBoxListInitializer" name="Checkbox List" />
        <field type="Website.Presenters.FieldRenderers.CreditCardFieldInitializer" name="Credit Card" />
        <field type="Website.Presenters.FieldRenderers.DateFieldInitializer" name="Date" />
        <field type="Website.Presenters.FieldRenderers.DropListInitializer" name="Drop List" />
        <field type="Website.Presenters.FieldRenderers.EmailFieldInitializer" name="E-mail" />
        <field type="Website.Presenters.FieldRenderers.FileUploadInitializer" name="File Upload" />
        <field type="Website.Presenters.FieldRenderers.ListBoxInitializer" name="List Box" />
        <field type="Website.Presenters.FieldRenderers.NumberFieldInitializer" name="Number" />
        <field type="Website.Presenters.FieldRenderers.PasswordConfirmationInitializer" name="Password-Confirmation" />
        <field type="Website.Presenters.FieldRenderers.PasswordFieldInitializer" name="Password" />
        <field type="Website.Presenters.FieldRenderers.RadioListInitializer" name="Radio List" />
        <field type="Website.Presenters.FieldRenderers.SingleLineTextFieldInitializer" name="Single-Line Text" />
        <field type="Website.Presenters.FieldRenderers.MultipleLineTextFieldInitializer" name="Multiple-Line Text" />
        <field type="Website.Presenters.FieldRenderers.TelephoneFieldInitializer" name="Telephone" />
        <field type="Website.Presenters.FieldRenderers.TelephoneSmsMmsFieldInitializer" name="SMS-MMS Telephone" />
      </fields>
      <validators>
        <validator type="Website.Presenters.ValidatorRenderers.CountCharsValidatorInitializer" name="Count chars" />
        <validator type="Website.Presenters.ValidatorRenderers.DateValidatorInitializer" name="Date" />
        <validator type="Website.Presenters.ValidatorRenderers.EmailValidatorInitializer" name="E-mail" />
        <validator type="Website.Presenters.ValidatorRenderers.IsIsoDateValidatorInitializer" name="Is Iso Date" />
        <validator type="Website.Presenters.ValidatorRenderers.NumberValidatorInitializer" name="Number" />
        <validator type="Website.Presenters.ValidatorRenderers.NumberRangeValidatorInitializer" name="Number Range" />
        <validator type="Website.Presenters.ValidatorRenderers.RegExPatternValidatorInitializer" name="Regex Pattern" />
        <validator type="Website.Presenters.ValidatorRenderers.TelephoneValidatorInitializer" name="Telephone" />
        <validator type="Website.Presenters.ValidatorRenderers.SmsMmsTelephoneValidatorInitializer" name="SMS-MMS Telephone" />
        <validator type="Website.Presenters.ValidatorRenderers.LuhnFormulaValidatorInitializer" name="Luhn formula" />
        <validator type="Website.Presenters.ValidatorRenderers.IsAmericanExpressValidatorInitializer" name="Is American Express" />
        <validator type="Website.Presenters.ValidatorRenderers.IsDinersClubCarteBlancheValidatorInitializer" name="Is Diners Club Carte Blanche" />
        <validator type="Website.Presenters.ValidatorRenderers.IsDinersClubInternationalValidatorInitializer" name="Is Diners Club International" />
        <validator type="Website.Presenters.ValidatorRenderers.IsDinersClubUsAndCanadaValidatorInitializer" name="Is Diners Club US and Canada" />
        <validator type="Website.Presenters.ValidatorRenderers.IsJcbValidatorInitializer" name="Is JCB" />
        <validator type="Website.Presenters.ValidatorRenderers.IsMaestroValidatorInitializer" name="Is Maestro" />
        <validator type="Website.Presenters.ValidatorRenderers.IsMasterCardValidatorInitializer" name="Is MasterCard" />
        <validator type="Website.Presenters.ValidatorRenderers.IsSoloValidatorInitializer" name="Is Solo" />
        <validator type="Website.Presenters.ValidatorRenderers.IsSwitchValidatorInitializer" name="Is Switch" />
        <validator type="Website.Presenters.ValidatorRenderers.IsVisaValidatorInitializer" name="Is Visa" />
        <validator type="Website.Presenters.ValidatorRenderers.IsVisaElectronValidatorInitializer" name="Is Visa Electron" />
        <validator type="Website.Presenters.ValidatorRenderers.ComparePasswordConfirmationValidatorInitializer" name="Compare Password - Confirmation" />
        <validator type="Website.Presenters.ValidatorRenderers.CaptchaValidatorInitializer" name="Captcha" />
        <validator type="Website.Presenters.ValidatorRenderers.RobotProtectionValidatorInitializer" name="Robot Protection" />
        <validator type="Website.Presenters.ValidatorRenderers.SuspiciousVisitorsValidatorInitializer" name="Suspicious Visitors" />
        <validator type="Website.Presenters.ValidatorRenderers.SuspiciousFormActivityValidatorInitializer" name="Suspicious Form Activity" />
      </validators>
    </rvfm>
  </sitecore>
</configuration>